* {
  margin: 0px;
  padding: 0px;
}

#headcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  gap: 10px;
  background-color: #e9e8e6;
  box-shadow: 0px 3px 10px black;
}

#headcon .name h1 {
  width: auto;
  height: auto;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 10px;
}

#headcon nav ul {
  display: flex;
  gap: 40px;
  font-size: 18px;
  color: black;
}

#headcon nav ul li {
  list-style: none;
}

#headcon nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: color 0.3s ease-out;
}

#headcon nav ul li a::after {
  content: ""; /* Required for pseudo-elements */
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 70%;
  height: 2px;
  background-color: #34b7a7;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

#headcon nav ul li a:hover {
  color: #34b7a7;
}

#headcon nav ul li a:hover::after {
  transform: scaleX(1);
}

#headcon .iconcon {
  font-size: 17px;
  display: flex;
  gap: 10px;
  opacity: 0.6;
  margin-right: 10px;
}

#headcon .iconcon a {
  color: black;
}

/* media query strat here */

@media (max-width:430px) {

#headcon{
  height: 80px;
}
  #headcon .name h1
   {
    font-size: 25px;
  }

}
