* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* header page start here */

#headcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  gap: 10px;
  background-color: #e9e8e6;
  box-shadow: 0px 3px 10px black;
  position: fixed;
  z-index: 1000;
}

#headcon .name h1 {
  width: auto;
  height: auto;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 10px;
}

#headcon nav ul {
  display: flex;
  gap: 40px;
  font-size: 18px;
  color: black;
}

#headcon nav ul li {
  list-style: none;
}

#headcon nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: color 0.3s ease-out;
}

#headcon nav ul li a::after {
  content: ""; /* Required for pseudo-elements */
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 70%;
  height: 2px;
  background-color: #34b7a7;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

#headcon nav ul li a:hover {
  color: #34b7a7;
}

#headcon nav ul li a:hover::after {
  transform: scaleX(1);
}

#headcon .iconcon {
  font-size: 17px;
  display: flex;
  gap: 10px;
  opacity: 0.6;
  margin-right: 10px;
}

#headcon .iconcon a {
  color: black;
}

/* header page ends here */

/* section 1 start here */

#homepage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homepage .homepagecon {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
}

#homepage .homepagecon h1 {
  font-size: 50px;
  font-family: sans-serif;
}

#homepage .homepagecon p {
  font-size: 20px;
  font-weight: 300;
}

#homepage .homepagecon button {
  width: 150px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #34b7a7;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

#homepage .homepagecon button:hover {
  transition: all 0.8s ease;

  background-color: #3bcebd;
}

/* section 1 ends here */

/* about page start here */

#aboutpage {
  width: 100%;
  height: 135vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutpage .about {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  top: 170px;
  gap: 30px;
}

#aboutpage .about h1 {
  font-size: 30px;
  font-family: sans-serif;
  opacity: 0.9;
}

#aboutpage .about hr {
  width: 50px;
  height: 2.5px;
  border: transparent;
  background-color: #34b7a7;
}

#aboutpage .about p {
  font-size: 18px;
}

#aboutpage .aboutcon1 {
  width: 90%;
  height: 90vh;
  position: absolute;
  top: 350px;
}

#aboutpage .aboutcon1 .imgcon {
  width: 30%;
  height: 400px;
  border: 1px solid rebeccapurple;
}

#aboutpage .aboutcon1 .aboutcon2 {
  width: 70%;
  height: 500px;
}

#aboutpage .aboutcon1 {
  display: flex;
}

#aboutpage .aboutcon1 .aboutcon2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  margin-left: 30px;
}

#aboutpage .aboutcon1 .aboutcon2 h1 {
  font-size: 30px;
  font-family: sans-serif;
  opacity: 0.9;
}

#aboutpage .aboutcon1 .aboutcon2 p {
  font-family: sans-serif;
}

#aboutpage .aboutcon1 .aboutcon2 .aboutgrid {
  display: grid;
  width: 90%;
  height: auto;
  gap: 30px;
  grid-template-columns: auto auto;
}

#aboutpage .aboutcon1 .aboutcon2 .aboutgrid div {
  width: 270px;
  height: auto;
  font-size: 16px;
  opacity: 0.8;
}

#aboutpage .aboutcon1 .aboutcon2 .aboutgrid div i {
  color: #34b7a7;
  font-size: 20px;
  margin-right: 5px;
}

/* skill page starts from here */

#skillpage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#skillpage .skillcon1 {
  width: 90%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

#skillpage .skillcon1 h1 {
  font-size: 30px;
  font-family: sans-serif;
  opacity: 0.9;
}

#skillpage .skillcon1 .line {
  width: 50px;
  height: 2.5px;
  border: transparent;
  background-color: #34b7a7;
}

#skillpage .skillcon1 .skillgrid {
  display: grid;
  width: 90%;
  height: auto;
  gap: 30px;
  grid-template-columns: auto auto;
}

#skillpage .skillcon1 .skillgrid .grid1 {
  display: flex;
  flex-direction: column;
  height: 50px;
  gap: 5px;
  position: relative;
}

#skillpage .skillcon1 .skillgrid .grid1 .gridcon1 {
  display: flex;
  justify-content: space-between;
}

#skillpage .skillcon1 .skillgrid .grid1 .percent {
  height: 10px;
  background-color: #ececec;
  border: transparent;
}

#skillpage .skillcon1 .skillgrid .grid1 .opacity1 {
  height: 10px;
  background-color: #34b7a7;
  width: 100%;
  position: absolute;
  top: 23px;
  border: transparent;
}

#skillpage .skillcon1 .skillgrid .grid1 .opacity2 {
  height: 10px;
  background-color: #34b7a7;
  width: 70%;
  border: transparent;
  position: absolute;
  top: 23px;
}

#skillpage .skillcon1 .skillgrid .grid1 .opacity3 {
  height: 10px;
  background-color: #34b7a7;
  width: 40%;
  border: transparent;
  position: absolute;
  top: 23px;
}

#skillpage .skillcon1 .skillgrid .grid1 .opacity4 {
  height: 10px;
  background-color: #34b7a7;
  width: 40%;
  border: transparent;
  position: absolute;
  top: 23px;
}

#skillpage .skillcon1 .skillgrid .grid1 .opacity5 {
  height: 10px;
  background-color: #34b7a7;
  width: 80%;
  border: transparent;
  position: absolute;
  top: 23px;
}

/* journey page starts from here */

#resumepage {
  width: 100%;
  height: 140vh;
  background-color: bisque;
  display: flex;
  background-color: #3bcebd;
}

#resumepage .imgcon {
  display: flex;
  gap: 30px;
}

#resumepage .snap {
  font-size: 40px;
  font-family: sans-serif;
  text-transform: uppercase;
  border: 1px dotted black;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 100px;
}

#resumepage .snap span {
  display: inline-block;
  position: relative;
  animation: bounce 1s ease-in-out infinite;
}

/* the animation delay for each letter */
#resumepage .snap span:nth-child(1) {
  animation-delay: 0s;
}
#resumepage .snap span:nth-child(2) {
  animation-delay: 0.1s;
}
#resumepage .snap span:nth-child(3) {
  animation-delay: 0.2s;
}
#resumepage .snap span:nth-child(4) {
  animation-delay: 0.3s;
}
#resumepage .snap span:nth-child(5) {
  animation-delay: 0.4s;
}
#resumepage .snap span:nth-child(6) {
  animation-delay: 0.5s;
}
#resumepage .snap span:nth-child(7) {
  animation-delay: 0.6s;
}
#resumepage .snap span:nth-child(8) {
  animation-delay: 0.7s;
}
#resumepage .snap span:nth-child(9) {
  animation-delay: 0.8s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Start and end at original position */
  }
  25% {
    transform: translateY(-10px); /* Bounce up */
  }
  50% {
    transform: translateY(0); /* Come back down */
  }
  75% {
    transform: translateY(-5px); /* Smaller secondary bounce up */
  }
}

/* media query strat here */

@media (max-width: 430px) {
  #headcon {
    height: 80px;
  }
  #headcon .name h1 {
    font-size: 25px;
  }
}
