* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* header page start here */

#headcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  gap: 10px;
  background-color: #e9e8e6;
  box-shadow: 0px 3px 10px black;
  position: fixed;
  z-index: 1000;
}

#headcon .name h1 {
  width: auto;
  height: auto;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 10px;
}

#headcon nav ul {
  display: flex;
  gap: 40px;
  font-size: 18px;
  color: black;
}

#headcon nav ul li {
  list-style: none;
}

#headcon nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: color 0.3s ease-out;
}

#headcon nav ul li a::after {
  content: ""; /* Required for pseudo-elements */
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 70%;
  height: 2px;
  background-color: #34b7a7;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

#headcon nav ul li a:hover {
  color: #34b7a7;
}

#headcon nav ul li a:hover::after {
  transform: scaleX(1);
}

#headcon .iconcon {
  font-size: 17px;
  display: flex;
  gap: 10px;
  opacity: 0.6;
  margin-right: 10px;
}

#headcon .iconcon a {
  color: black;
}

/* header page ends here */

/* section 1 start here */

#homepage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homepage .homepagecon {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
}

#homepage .homepagecon h1 {
  font-size: 50px;
  font-family: sans-serif;
}

#homepage .homepagecon p {
  font-size: 20px;
  font-weight: 300;
}

#homepage .homepagecon button {
  width: 150px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #34b7a7;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

#homepage .homepagecon button:hover {
  transition: all 0.8s ease;

  background-color: #3bcebd;
}

/* section 1 ends here */

/* about page start here */

#aboutpage {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutpage .about {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  top: 170px;
  gap: 20px;
}

#aboutpage .about h1 {
  font-size: 30px;
  font-family: sans-serif;
}

#aboutpage .about hr {
  width: 50px;
  height: 2.5px;
  border: transparent;
  background-color: #34b7a7;
}

#aboutpage .about p {
  font-size: 18px;
}

#aboutpage .aboutcon1 {
  background-color: antiquewhite;
  width: 90%;
  height: 90vh;
  position: absolute;
  top: 300px;
}

#aboutpage .aboutcon1 .imgcon {
  width: 30%;
  height: 400px;
  background-color: black;
}

#aboutpage .aboutcon1 .aboutcon2 {
  border: 1px solid black;
}

/* media query strat here */

@media (max-width: 430px) {
  #headcon {
    height: 80px;
  }
  #headcon .name h1 {
    font-size: 25px;
  }
}
